/* GENERALIDADES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ font-family: 'Roboto', sans-serif; }

ul{ list-style: none; }

a{ 
    text-decoration: none; 
    color: white;
}

.white-black-contrast{ /* Estilo genérico de fondo negro y texto blanco */
    color: white; 
    background-color: black;
}

main,
.container{
    display: flex;
    flex-direction: column;
}

header{ 
    text-align: center; 
    padding: 10vw 0;
}

nav{ margin: 2%; }
    nav ul li {
        padding: 5px;
        margin-bottom: 5px;
    }
    
footer{ 
    text-align: center;
    padding: 2vw;
}
    footer div ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vw;
    }
    footer p { font-weight: bold; }

/* HOME */
.home-article{ padding: 5%; }
    .home-article img{ 
        width: 100%; 
        margin: 10px 0;
    }
    .home-article a{ padding: 1%; }

aside{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* FORMULARIOS */
.form-container{
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
    .input-container{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
        .input-container label{ margin-bottom: 0.5rem; }
        .input-container input,
        .input-container textarea{
            padding: 5px;
            border-width: 0;
            border-radius: 5px;
            font-size: 0.9rem;
            font-family: inherit;
        }
            .required-mark{
                color: maroon;
                font-weight: bold;
            }
    .notify{ 
        text-align: center;
        margin: 10px 0;
    }
    .form-container p { margin-bottom: 10px; }
    .form-button-container{
        display: flex;
        justify-content: space-around;
    }
        .form-button-container button{
            font-family: inherit;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 1rem;
        }