/* GENERALIDADES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Roboto', sans-serif; 
    position: absolute;
    min-height: 100vh; /* Asegura que se use toda la pantalla */
    font-size: 16px; /* Establece el valor de 1rem */
}

h2{ text-align: center; }

ul{ list-style: none; }

a{ 
    text-decoration: none; 
    color: white;
}

.white-black-contrast{ /* Estilo genérico de fondo negro y texto blanco */
    color: white; 
    background-color: black;
}

main,
.container{
    display: flex;
    flex-direction: column;
}

header{ 
    text-align: center; 
    padding: 10vw 0;
}

nav{ margin: 2%; }
    nav ul li {
        padding: 5px;
        margin-bottom: 5px;
    }
    
footer{ 
    text-align: center;
    padding: 2vw;
    position: sticky;
    bottom: 0;
    width: 100vw;
}
    footer div ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2vw;
    }
    footer p { font-weight: bold; }

/* HOME */
.home-article{ padding: 5%; }
    .home-article img{ 
        width: 100%; 
        margin: 10px 0;
    }
    .home-article a{ padding: 1%; }

aside{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

/* FORMULARIOS */
.form-container{
    background-color: lightgrey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
    .input-container{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
        .input-container label{ margin-bottom: 0.5rem; }
        .input-container input,
        .input-container textarea{
            padding: 5px;
            border-width: 0;
            border-radius: 5px;
            font-size: 0.9rem;
            font-family: inherit;
        }
            .required-mark{
                color: maroon;
                font-weight: bold;
            }
    .notify{ 
        text-align: center;
        margin: 10px 0;
    }
    .form-container p { margin-bottom: 10px; }
    .form-button-container{
        display: flex;
        justify-content: space-around;
    }
        .form-button-container button{
            font-family: inherit;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 1rem;
        }
/* ABOUT */
#yt-frame{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#yt-frame + p,
.art-img + p{
    background-color: lavender;
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}
/* ARTÍCULOS */
.art-img{
    width: 100%;
    padding: 10px 10px 0;
}
.art-img + p{ 
    margin: 0 10px; 
    font-weight: bold;
}
    .art-img + p a { color: blue; }

@media (min-width : 768px){ /* Diseño para tablets */
    /* ESTRUCTURA BASE */
    header{ padding: 5vw 0; }
        header i{ font-size: 2rem; }

    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
        nav{ width: 30%; }
            nav ul{
                position: sticky;
                top: 80px;
            }
                nav ul li {
                    padding: 8px 10px;
                    margin-bottom: 10px;
                }
        main{ width: 65%; }
        aside{ width : 100% }

    footer div ul{ justify-content: center; }
        footer div ul li{ margin: 0 15px; }
    /* ABOUT */
    #yt-frame{ height: 75%; }
}

@media (min-width : 1024px){ /* Diseño para PCs, laptos y tablets en horizontal */
    /* ESTRUCTURA BASE */
    .container{ flex-wrap: nowrap; }
        nav{ width: 25%; }
        main{ width: 50%; }
        aside{ 
            width: 25%; 
            height: max-content;
            position: sticky;
            top: 80px;
        }
    /* ARTÍCULOS */
    .art-img + p{ margin: 0 10px 15px; }
    /* TRANSFORMACIONES DEL HEADER */
    header i{
        transition: color 2s linear, font-size 1s linear;
    }
    header:hover i{
        font-size: 3rem;
        color: bisque;
        animation: rotateBird 2s linear 1s infinite;
    }
}

/* ANIMACIONES */
@keyframes rotateBird{
    25% { transform: rotate(-25deg); }
    75% { transform: rotate(25deg); }
    100% { transform: rotate(0); }
}