<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eduardo Brahim Alí">
        <title>Aves de la Patagonia - Contacto</title>
    </head>

    <body>

        <heade>
            <nav>
                <a href="../index.html">Home</a>
                <a href="about.html">Sobre nosotros</a>
                <a href="contact.html">Contacto</a>
            </nav>
            <h1>Aves de la Patagonia</h1>
        </header>

        <main>
            <h2>Contacto</h2>
            <p>
                Mandá tus comentarios y sugerencias a <a href="mailto:brahimeduali@gmail.com">brahimeduali@gmail.com</a>
            </p>
        </main>

        <footer>
            <br>
            <p>
                Todos los derechos reservados ©2020
            </p>
            <br>
        </footer>

    </body>
</html>