<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eduardo Brahim Alí">
        <title>Aves de la Patagonia - Pingüinos de Magallanes</title>
    </head>

    <body>

        <header">
            <nav>
                <a href="../index.html">Home</a>
                <a href="about.html">Sobre nosotros</a>
                <a href="contact.html">Contacto</a>
            </nav>
            <h1 style="text-align: center;">Aves de la Patagonia</h1>
        </header>

        <main>
            <h2>Pingüinos de Magallanes</h2>
            <img src="../images/pingüinos_de_magallanes.jpg" alt="Pingüinos de Magallanes">
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum deserunt veniam debitis 
                officiis nostrum inventore temporibus nemo odio, accusamus sunt placeat voluptate eius velit 
                suscipit aspernatur! Eius magni obcaecati molestias velit excepturi dolore eos? Illo perspiciatis 
                obcaecati, inventore vitae, amet doloribus corporis incidunt ratione, eligendi labore quasi dolorum 
                tempore. Dolor soluta eius delectus molestiae ipsum molestias accusantium doloremque sunt praesentium
                 sint? Consequuntur commodi optio provident illo corporis. Voluptatem nam voluptatibus laborum a modi 
                 antium impedit. 
            </p>
        </main>

        <footer>
            <br>
            <p>
                Todos los derechos reservados ©2020
            </p>
            <br>
        </footer>

    </body>
</html>